<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madhav.starter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_circle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Splash_Screen.LaunchScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.Dashboard" />
        <activity android:name=".login_signup.RegLogActivity" />
        <activity android:name=".login_signup.LoginScreen" />
        <activity android:name=".login_signup.ForgotPassword" />
        <activity android:name=".login_signup.SignUp" />
        <activity android:name=".login_signup.profile" />
        <activity android:name=".Home.add_project" />
        <activity android:name=".model.desc" />
        <activity android:name=".Home.visual_data"></activity>
    </application>

</manifest>